.page {
    background-image: linear-gradient(to right, antiquewhite, white, whitesmoke, silver);
}

#page-nav {
    border-top: 15px solid rgb(184, 39, 147);
    border-bottom: 3px solid rgb(184, 39, 147);
    background-image: linear-gradient(to bottom, rgb(146, 25, 114), purple, rgb(146, 25, 114));
    font-size: 1.1em;
    color: rgba(250, 76, 76, 0.888);
}

#nav-row {
    position: sticky;
    padding: 0px 0px 0px;
}

.navbar {
    position: sticky;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: fuchsia;
    text-shadow: 2px 3px 4px black;
}

.nav-link:hover {
    border-bottom: 0.2px solid magenta;
    color: red;
}

#board {
    position: relative;
    border-bottom: 2px solid green;
    padding: 165px;
    text-align: center;
    text-shadow: 4px 3px 2px black;
    color: lightgrey;
    background-image: url("mesh.png");
    background-color: rgb(20, 20, 20, 0.2);
}

.board-header {
    font-size: 1.4em;
    color: rgb(255, 241, 247);
}

.jumbotron {
    border: 2px red solid;
    opacity: .83;
    color: rgb(20, 20, 20, 0.2);
}

#board-left {
    padding: 165px;
    text-shadow: 8px 3px 2px black;
    color: lightgrey;
    background-image: url("mesh.png");
}

#base-header {
    text-align: center;
    border-bottom: 2px solid black;
}

.base-content {
    position: relative;
    text-align: center;
    border: 2px solid black;
    width: 75%;
    padding: 130px;
}

.spacing {
    padding: 40px;
}

.page-footer {
    color: whitesmoke;
    background-color: black;
    padding: 10px 0px 10px 15px;
}

.works-content {
    border-bottom: 2px solid black;
}

.works-header {
    text-align: center;
    border: 2px solid black;
    padding: 50px;
}

#art-carousel {
    text-align: center;
    background-color: black;
}

.code-tab {
    border: 2px solid rgb(228, 227, 227);
    text-align: center;
    float: left;
}

#songs-table {
    text-align: center;
}

.contact-content {
    padding: 30px;
}

#email-list {
    position: absolute;
    justify-content: center;
    padding: 50px;
}