#page-nav {
    border-top: 15px solid rgb(184, 39, 147);
    border-bottom: 9px solid rgb(184, 39, 147);
    background-image: linear-gradient(to bottom, rgb(146, 25, 114), purple, rgb(146, 25, 114));
    color: red;
}

#nav-row {
    position: relative;
    padding: 0px 0px 0px;
}

.navbar {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: fuchsia;
    text-shadow: 2px 3px 4px black;
}

.nav-link:hover {
    border-bottom: 0.2px solid magenta;
    color: red;
}

#board {
    position: relative;
    border-bottom: 2px solid green;
    padding: 165px;
    text-align: center;
    text-shadow: 4px 3px 2px black;
    color: lightgrey;
    background-image: url("mesh.png");
    background-color: rgb(20, 20, 20, 0.2);
}

.jumbotron {
    border: 2px red solid;
    opacity: .83;
    color: rgb(20, 20, 20, 0.2);
}

#board-left {
    float: left;
    border-right: 2px solid black;
    padding: 165px;
    text-align: center;
    text-shadow: 4px 3px 2px black;
    color: lightgrey;
    background-image: url("mesh.png");
}


#base-header {
    text-align: center;
    border-bottom: 2px solid black;
}

.base-content {
    position: relative;
    text-align: center;
    border: 2px solid black;
    padding: 180px;
}

#spacing {
    padding: 40px;
}

#home-footer {
    color: whitesmoke;
}